<div class="relative h-screen  isolate overflow-hidden bg-[var(--color-violeta)] py-24 sm:py-20 ">
    <div class="hidden sm:absolute sm:top-[-20rem] -top-52 sm:left-1/2 sm:-z-10 sm:mr-10 sm:block lñ sm:transform-gpu sm:blur-2xl" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[var(--color-green)] to-[var(--color-green)] opacity-95" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    
    
    <div class="mx-auto max-w-7xl px-6 lg:px-8 ">
      <div class="mx-auto max-w-2xl lg:mx-0  ">
        <h2 class="text-4xl font-bold tracking-tight text-[#f4f4f4] sm:text-6xl">LaborAI</h2>
        <p class="mt-6 text-lg leading-8 text-[#f4f4f4]">Labor AI es un <strong>
          chatbot que implementa inteligencia artificial para proporcionar información esencial
        </strong> y fácilmente accesible <strong> sobre derecho laboral </strong>en tiempo real.
        </p>
      </div>
      <div class="mx-auto mt-7 max-w-2xl lg:mx-0 lg:max-w-none">
         <button class="bg-[var(--color-green)] text-center rounded-3xl h-10 mb-4 text-base font-extrabold leading-7 text-[var(--color-violeta)] hover:text-[var(--color-green)] hover:bg-[var(--color-violeta)]  "><a routerLink="/chat" class="cursor-pointer p-3 ">Comienza a chatear<span aria-hidden="true">&rarr;</span></a></button> 
        <dl class=" grid grid-cols-1 gap-8 sm:mt-24 sm:grid-cols-2 lg:grid-cols-4">
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-200">Basado en las leyes laborales de Argentina.</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-[#f4f4f4]">Fundamentos</dd>
          </div>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-200">Acercamos la informacion que necesitas.</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-[#f4f4f4]">Servicio</dd>
          </div>
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-200">No buscamos reemplazar el acompañamiento de un asesor jurídico.</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-[#f4f4f4]">Disclamer</dd>
          </div>
        
        </dl>
      </div>
    </div>
  </div>
  